.firstLink {
  font-size: 15px;
  width: 970px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

.firstLink a {
  color: rgb(72, 72, 173);
}

.container1,
.container2 {
  width: 970px;
  margin: 0 auto;

  position: relative;
}
.container1 {
  margin-bottom: 30px;
}

.event-header1,
.event-header2 {
  color: #666;
  font-size: 22px;
  border-bottom: 1px solid #999;

  margin-bottom: 20px;
  padding-bottom: 12px;
}
.event-header2 {
  margin-top: 100px;
}
.event-info {
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}
.no-label {
  background-color: #939292;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 3px;
  padding: 2px;
}
.event-detail {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 30px;
  border-left: 4px solid #666;
  padding-left: 5px;
}
.no-header .MuiDataGrid-colCell,
.no-header .MuiDataGrid-colHeaderWrapper {
  display: none;
}

.grayGray {
  background-color: rgb(223, 220, 220);
}

/*銇撱亾銇嬨倝锛�*/
.container {
  width: 970px;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  /* justify-content: ; */
}
.form-header {
  color: #666;
  font-size: 26px;
  border-bottom: 3px solid #999;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.form div {
  /* width: 100%; */
  padding: 5px;
  /* border: 1px solid black; */
}
.event-box {
  margin-bottom: 20px;
}
.step-label {
  background-color: #666;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 6px;
  padding: 2px;
}
.item-title {
  font-size: 18px;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 0;
  border-left: 4px solid #666;
  padding-left: 5px;
}
.item-description {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 10px;
}
.item-description-box {
  margin-bottom: 10px;
}
.box1 {
  width: 310px;
}
.box2 {
  width: 300px;
}

.addadd {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.proposal_list {
  align-items: center;
  height: 350px;
  width: 250px;
  margin: 20px;
}

.rowTitle {
  padding: 8px;
  border-right: 1px solid #ddd;
  width: 210px;
  font-size: 160px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.twoButton {
  /* left: "50%";
  display: "flex";
  position: absolute;
  transform: "translate(-50%, -50%)"; */
  margin-top: 20px;
}
.warning {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 20px;
  color: red;
  line-height: 28px;
}
